doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    div.container
      h1 Custom Objects Table
      a.button.add-link(href='/update-cobj') Add/Update this table
      
      if records && records.length > 0
        table.data-table
          thead
            tr
              //- Updated table headers
              th Name
              th Publisher
              th Price
              th Last Modified
          tbody
            each record in records
              tr
                //- Updated properties to display
                td= record.properties.name
                td= record.properties.publisher
                td= record.properties.price
                td= new Date(record.properties.hs_lastmodifieddate).toLocaleDateString()
      else
        p No records found. Why not add one?
